.home {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0px;
  padding: 0px;
  @media screen and (max-width: 768px) {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
  }
  .content {
    margin: 0 auto;
    padding: 0px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100vh;
    @media screen and (max-width: 768px) {
      width: 100%;
      height: 100%;
      margin: 0 auto;
    }
    .name {
      font-size: 2.5rem;
      font-weight: 700;
      line-height: 1.2;
      margin-bottom: 10px;
      color: white;
      @media screen and (max-width: 768px) {
        font-size: 2rem;
      }
    }
    .title {
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.2;
      margin-bottom: 10px;
      color: white;
      @media screen and (max-width: 768px) {
        font-size: 1rem;
      }
    }
    .text {
      width: 190px;
      font-size: 0.8rem;
      margin: 0px auto 25px auto;
      line-height: 1.2;
      @media screen and (max-width: 768px) {
        margin-top: 0px;
      }
    }
    .social {
      margin-top: -10px;
      list-style-type: none;
      list-style: none;
      li {
        margin: 0px;
        display: inline-block;
      }
      li a {
        text-decoration: none;
        color: white;
        display: inline-block;
        position: relative;
        line-height: 1;
        padding: 0px 11px;
        &:hover {
          transform: translateY(-3px);
          svg {
            color: white;
            transition: all 0.3s ease;
          }
        }
        svg {
          fill: transparent;
          color: white;
          width: 20px;
          height: 20px;
        }
      }
    }
    .button_container {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      border: 1px solid black;
      padding: 0;
      .portfolio_button,
      .resume_button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 2px;
        padding: 0;
        flex: 1;
        border: 1px solid black;
        background: rgba(0, 0, 0, 0.05);
        button {
          width: 120px;
          text-decoration: none;
          border-radius: 10px;
          font-weight: 400;
          color: white;
          background: black;
          margin: 5px;
          font-size: 0.80rem;
          padding: 0.5rem 1rem;
          border: none;
        }
        &:hover {
          transform: translateY(-5px);
        }
      }
    }
  }
}
